<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tickets_de_Petroleo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tickets_de_Petroleo.Properties.Settings>
            <setting name="autouser_nombre" serializeAs="String">
                <value>administrador</value>
            </setting>
            <setting name="autouser_passwd" serializeAs="String">
                <value>supersonic</value>
            </setting>
            <setting name="autouser_active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="db" serializeAs="String">
                <value>Data Source=database;Initial Catalog=PETROLEO;Integrated Security=True</value>
            </setting>
            <setting name="fadeMessageInterval" serializeAs="String">
                <value>1500</value>
            </setting>
        </Tickets_de_Petroleo.Properties.Settings>
    </userSettings>
</configuration>